<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.exemple.mindride">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mindride"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mindride_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".Telas_Iniciais.MainActivity"
            android:screenOrientation="locked"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Player.ListaReciclavel"
            android:screenOrientation="locked">
        </activity>
        <activity
            android:name=".Binaural.MainBinaural"
            android:screenOrientation="locked">
        </activity>
    <activity
        android:name=".Player.Inicio"
        android:screenOrientation="locked">
    </activity>
        <activity
            android:name=".Player.Player"
            android:screenOrientation="locked">
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>